{% extends 'membercheck/base.html' %}
{% load i18n %}
{% load humanize %}
{% load filters %}
{% load evelinks %}

{% block page_title %}{% translate "Dashboard" %}{% endblock %}

{% block check_block %}
    <div class="container col-sm-12">
        <h4> Caps and Supers left in T5Z </h4>
        <table class="table table-hover dataTable" id="checkTable">
            <thead>
                <th>Character</th>
                <th>Ship</th>
                <th>Type</th>
            </thead>
            <tbody>
             {% for asset in assets %}
                <tr>
                    <td>{{asset.character.character_ownership.character.character_name}}</td>
                    <td>{{asset.eve_type.name}}</td>
                    <td>{{asset.eve_type.eve_group.name}}</td>
                </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
{% endblock %}

{% block extra_script %}
    $(document).ready(function(){
        $('#checkTable').DataTable();
    })
{% endblock %}
